.error-page-container {
    text-align: center;
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.error-page-container h1 {
    font-size: 2.5rem;
    color: darkred;
}

.error-page-container p {
    font-size: 1.5rem;
    color: rgb(79, 3, 3);
}