.navbar {
    background-color: rgb(255, 215, 221);
    padding: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 6px;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: rgb(133, 195, 250);
}
.active-link {
    color: aliceblue;
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.right-links {
    display: flex;
    gap: 1rem;
}

.right-links li {
    display: inline;
}